* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #f3cf4d;
  font: 'Figtree', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #fff;
  width: 384px;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.card-image {
  width: 100%;
  border-radius: 10px;
}
.card-content {
  margin: 24px 0;
}
.tag {
  display: inline-block;
  background-color: #f3cf4d;
  padding: 4px 12px;
  color: #111;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 12px;
  font-weight: 500;
}
.publish-date {
  font-size: 12px;
  margin-bottom: 12px;
}
.title {
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 24px;

}
.description {
  color: #7f7f7f;
  font-size: 16px;
}
.author {
  display: flex;
  align-items: center;
}
.author-image {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}
.author-name {
  font-size: 16px;
  color: #111;
  font-weight: 500;
}